
table_name: bolt_susbcribers

newsletter_field: newsletter_email

email_from: info@mywebsite.com
email_from_name: My Website

subject: Email from my website
body: Please follow the link to verify your email.
link: Click Here

